</<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Review Analysis</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/libs/font-awesome/css/font-awesome.min.css">
    <link href="../static/styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles/css/styles.css" rel="stylesheet">
    <link href="../static/styles/css/custom.css" rel="stylesheet">
    <link href="../static/styles/css/custom-button.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/handler.js"></script>
</head>

<body>
    <header>
        <ul id="menu" class="shadow">
            <li>
                <a href="#howitworks">How Stuff Works</a>
            </li>
        </ul>
    </header>
    <!-- End header -->
    <div id="lead">
        <div id="lead-content">
            <form>
                <h2 style="font-size:2em; color:rgb(7, 81, 219)">Enter a review content below to analyze</h2>
                <div class="content-area">
                    <textarea id="text_input" name="story" rows="4" cols="85" style="margin: 0px 0px 0px 40px; height: 143px; width: 630px;"></textarea>
                </div>
                <br>
                <br>
                <p>
                    <a href="#" class="button" onclick="process_input()" data-toggle="modal" data-target="#myModal">Analyze</a>
                    <a href="#" class="button gray" onclick="clear_input()">Reset</a>
                </p>
            </form>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 id="modal-title" class="modal-title">{{result}}</h3>
                    </div>
                    <div class="modal-body">
                        <h4 id="modal-body" class="modal-title">{{result}}</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End #lead-content -->

    <div id="lead-overlay"></div>


    <!-- End #lead-down -->
    </div>

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">Opinion Mining</h2>
                </div>
                <div class="col-md-8">
                    <p align="justify">
                        Sentiment analysis a.k.a opinion mining, is an approach to natural language processing (NLP) that identifies the emotional tone behind a body of text. Simply put, it is the process of analyzing text data and classifying options as negative, positive or
                        neutral. <br> In the examples below, the bolded items are emotional tone for the corresponding text. The highlighted items are attributes or keywords used to identify the expression behind the text. <br><br>
                        <i>  text I: </i>&nbsp; My experience so far has been <span style="background-color:#c3f7c3">fantastic!</span>, <b>Positive</b><br>
                        <i> text II: </i>&nbsp; The product is <span style="background-color:#f7efb7">ok I guess</span>, <b>Neutral</b><br>
                        <i>text III: </i>&nbsp; Your dev team is <span style="background-color:#f7a7a6">useless!</span>, <b>Negative</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

    <div id="howitworks">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">How Stuff Works</h2>
                </div>
                <div class="col-md-8">
                    <p>
                        <img src="../static/styles/images/stuffworks.png" width="500" height="333">
                        <p align="justify">
                            <br> In the training process (a), our model learns to associate a particular input (i.e. a text) to the corresponding output (tag) based on the test samples used for training. The feature extractor transfers the text input
                            into a feature vector. Pairs of feature vectors and tags (e.g. positive, negative, or neutral) are fed into the machine learning algorithm to generate a model.
                            <br><br> In the prediction process (b), the feature extractor is used to transform unseen text inputs into feature vectors. These feature vectors are then fed into the model, which generates predicted tags (again, positive,
                            negative, or neutral).</p>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; Nithin Sivakumar
                    </p>
                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/nithinsivakumar" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/7991925/nithin-sivakumar" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/nithinsivakumar/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/nithinsivaku" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/nithinsivaku" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->
</body>

</html>